{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container">
          <a class="navbar-brand text-light" href="{% url 'demov:home' %}">MD REZA</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse text-light" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0 ">
              <li class="nav-item">
                <a class="nav-link active text-light ps-5" aria-current="page" href="{% url 'demov:home' %}">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light ps-5" href="{% url 'demov:about' %}">ABOUT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light ps-5" href="{% url 'demov:service' %}">SERVIECS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light ps-5" href="{% url 'demov:contact' %}">CONTACT US</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light ps-5" href="{% url 'demov:gallery' %}">GALLERY</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light ps-5" href="{% url 'demov:form' %}">FORM</a>
              </li>
            </ul>
            
          </div>
        </div>
      </nav>
    <h1 class="d-flex justify-content-center"> Gallery Collection</h1>
    <div class="container-fluid" style="height: 30vh;">
        <div class="row">
            <div class="col-lg-12">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active" style="height: 90vh;">
                        <img src="https://wallpaperaccess.com/full/242855.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item" style="height: 90vh;">
                        <img src="https://wallpaperaccess.com/full/242848.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item" style="height: 90vh;">
                        <img src="https://wallpaperaccess.com/full/88379.jpg" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
        </div>
      </div>
</body>
<script src="{% static 'jv/index.js' %}"></script>
</html>